{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "semi": 2,
    "prettier/prettier": "warn"
  },
  "env": {
    "browser": true
  }
}
